 <div class="announcement__bar full-width" style="background-color: {{ section.settings.background }}">
  {% for block in section.blocks %}
    {% render block %}
  {% endfor %}
</div>

{% stylesheet %}
  .announcement__bar {
    display: flex;
    justify-content: center;
    width: 100%;
  }
{% endstylesheet %}

{% schema %}
{
  "name": "Announcement Bar",
  "blocks": [{ "type": "message" }],
  "settings": [
    {
      "type": "color",
      "id": "background",
      "label": "Background color",
      "default": "#FFFFFF"
    }
  ],
  "presets": [
    {
      "name": "Announcement Bar",
      "category": "Header"
    }
  ]
}
{% endschema %}